#conteudo {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    background-color: #F6F5F6;
    padding-bottom: 2rem;
}

#headerEditarCliente {
    width: 26.25rem;
}

#headerEditarCliente {
    font-size: 1.3rem;
    font-weight: bold;
}

#separator {
    display: block;
    height: 0.125rem;
    width: 100%;
    background-color: #E5E5E5;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
}

#formEditCliente {
    width: 26.25rem;
    display: flex;
    flex-direction: column;
}

#formEditCliente > .input-group {
    margin-bottom: 3rem;
    height: auto;
}

#formEditCliente > .input-group input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border: none;
    background: #E5E5E5;
    border-radius: 5px;
    /* margin-top: 1rem; */
}

#formEditCliente > .input-group > .erro, #formEditCliente > .input-group-img > .erro {
    color: #FF0000;
    margin-top: 0.5rem;
}

#formEditCliente > .input-group-img {
    margin-bottom: 3rem;
    height: 50px;
    display: flex;
}

#formEditCliente > .input-group-img > #buttonImagem {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.70rem;
    background-color: #208C6B;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

#formEditCliente > .input-group-img > #buttonImagem > #filename {
    font-size: 0.90rem;
    text-transform: none;
}

#formEditCliente > .input-group-img > #imagem {
    display: none;
}

#formEditCliente > .input-group select {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border: none;
    background: #E5E5E5;
    border-radius: 5px;
}

#formEditCliente button {
    display: inline-block;
    border: none;
    background-color: #208C6B;
    color: white;
    height: 40px;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
}

#formEditCliente button:hover {
    background-color: #04996b;
}

#imagemClienteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagemCliente {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
}

.actions-telefone {
    display: flex;
    gap: 1rem;
}

.add-telefone {
    width: 40px;
    height: 40px;
    background: #208C6B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin-bottom: 1rem;
}

.delete-telefone {
    width: 40px;
    height: 40px;
    background: #ff6347;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    /* margin-bottom: 1rem; */
}

#formEditCliente > #telefonesAll input{
    height: 50px;
    padding-left: 10px;
    border: none;
    background: #E5E5E5;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 60%;
}

#formEditCliente > .telefone {
    width: 60%;
}

#formEditCliente > .telefone {
    /* background-color: red;
    margin-bottom: 0.5rem !important; */
}

@media (max-width: 768px) {
    #headerEditarCliente {
        width: 15rem;
    }
    #formEditCliente {
        width: 15rem;
    }
}
